@model CRUDWITHEF.Models.EMPLOYEEMASTER

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMPCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESIGNATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESIGNATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALARY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new {@class="btn btn-primary"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
